<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
	{% load static %}
	<link rel="stylesheet" href="{% static '/styles/base.css' %}">
	<title>MoodTracker - Друзья</title>
	<script src="/static/js/jquery.min.js"></script>
</head>
<body>

<header>
	<div class="header-top">
		<div class="logo">
			<img class="logo-header svg-white" src="{% static 'img/logo_moodtracker_white.svg' %}" alt="logo">
		</div>
	</div>
	<div class="header-bottom">
		<nav>
			<ul>
				<li><a href="{% url 'tracker' %}">Трекер</a></li>
				<li>
					<a href="{% url 'friends' %}" style="color: black">Друзья</a>
					<hr class="ref-underline">
				</li>
				<li><a href="{% url 'profile' %}">Профиль</a></li>
			</ul>
		</nav>
	</div>
</header>


<div class="container">

	<div class="content-block">
		<h2>Ваш ID</h2>
		<div class="outline-rectangle">{{ request.user.unique_id }}</div>
		<p class="desc-centred">Используйте ID, чтобы добавлять людей
			<br/>
			в список друзей</p>
	</div>

	<form id="add_friend" class="form add-friend-form" action="{% url 'search_friend' %}" method="post">
		{% csrf_token %}
		<h2 style="margin-bottom: 30px">Добавить друга</h2>
		<div class="input-group">
			<input id="unique_id" name="unique_id" required spellcheck="false">
			<span class="floating-label">ID друга</span>
			<div id="error_addition" class="with-icon-label invisible" style="margin-top: 6px;">
				<img src="{% static 'img/warning_red.svg' %}" class="label-icon" alt=""/>
				<p class="label-text" style="color: red; margin-left: 4px;">
					{{ message|default_if_none:'' }}</p>
			</div>
		</div>
		<button type="submit" class="button primary-button">Добавить</button>
	</form>

	<div class="content-block">
		<h2>Список друзей</h2>

		<div class="user-list">
			{% include 'friends_list.html' %}
		</div>
	</div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script>
    $('#add_friend').on('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        var url = event.target.action
        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            success: function (data) {
                $('.user-list').html(data)
                let message = $('.error').text()
                if (message !== '') {
                    $('#error_addition > p').text(message)
                    $('#error_addition').removeClass('invisible')
                } else {
                    $('#error_addition').addClass('invisible')
                }
                $('#add_friend').trigger("reset");
            },
            error: function (data) {
            },
            cache: false,
            contentType: false,
            processData: false
        })
    });
</script>
</body>
</html>
