* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  font-family: Montserrat;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 600px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 42px 16px;
}
.container > *:not(:first-child) {
  margin-top: 50px;
}
.container > * {
  width: 100%;
}
.logo-header {
  width: 80px;
}
label {
  font-size: 12px;
}
.primary-button {
  max-width: 600px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1E1E1E;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.primary-button > *:not(:first-child) {
  margin-left: 10px;
}
button {
  max-width: 600px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1E1E1E;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
button > *:not(:first-child) {
  margin-left: 10px;
}
.form {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
h2 {
  text-align: center;
  font-size: 20px;
  color: #1E1E1E;
}
a {
  text-decoration: none;
}
.input-group {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
input {
  max-width: 600px;
  width: 100%;
  height: 56px;
  display: block;
  padding: 0 16px;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  font-size: 18px;
  color: #1E1E1E;
  background-color: #fff;
  font-weight: 500;
}
.floating-label {
  color: #a1a1a1;
  position: absolute;
  background-color: #fff;
  padding: 2px 6px;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.1s ease all;
}
.label-icon {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}
.label-text {
  font-size: 12px;
}
.with-icon-label {
  display: flex;
  align-items: center;
}
.invisible {
  display: none;
  visibility: hidden;
  opacity: 0;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  margin: -9px 0;
  color: #1E1E1E;
  left: 8px;
  top: 0;
  bottom: 100px;
  font-size: 12px;
  opacity: 1;
}
hr {
  margin: 20px 0;
  border: 1px solid #a1a1a1;
}
.text-between-lines {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-between-lines hr {
  width: 50%;
  height: 1px;
  background: #a1a1a1;
  margin: 0;
}
.minor-text {
  color: #a1a1a1;
  font-size: 14px;
}
#login {
  font-size: 16px;
}
.secondary-button {
  border: 2px solid #1E1E1E;
  background-color: transparent;
  color: #1E1E1E;
}
.thirdly-button {
  background-color: #E9E9E9;
  color: #1E1E1E;
}
.exit-button {
  background-color: #FF4C4C;
  color: #fff;
}
header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
}
.header-top {
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}
.logo img {
  max-width: 200px;
}
.header-bottom {
  color: gray;
  background-color: #fff;
  text-align: center;
  padding: 0;
}
.header-bottom a {
  color: gray;
  font-weight: 500;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  height: 100%;
}
nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 14px;
  border-radius: 5px;
}
nav a:hover {
  background-color: #fff;
  color: #1E1E1E;
}
.ref-underline {
  margin: 0;
  position: absolute;
  border: solid 1px #1E1E1E;
  bottom: initial;
  width: 100%;
}
.content-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content-block > *:not(:first-child) {
  margin-top: 20px;
}
.content-block > ul:not(:first-child) {
  margin-top: 20px;
}
.content-block > * {
  width: 100%;
}
.content-block label {
  width: 100%;
}
.desc-centred {
  font-size: 14px;
  text-align: center;
  color: #a1a1a1;
}
.icon {
  width: 20px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.post-list {
  width: 100%;
}
.post-list a {
  display: block;
}
.post-list > *:not(:first-child) {
  margin-top: 10px;
}
.post {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 12px;
}
.post-header {
  height: auto;
}
.post-info-group {
  width: auto;
  display: flex;
  align-items: center;
}
.post-info-group > *:not(:first-child) {
  margin-left: 10px;
}
.left-aligned-text > *:not(:first-child) {
  margin-top: 2px;
}
.icon-smile {
  width: 36px;
}
.icon-button {
  height: auto;
  width: auto;
  background-color: transparent;
  padding: 0;
}
.post-image {
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
}
.outline-rectangle {
  display: block;
  width: fit-content;
  padding: 16px;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #1E1E1E;
}
.user-list {
  width: 100%;
}
.user-list a {
  display: block;
}
.user-list > *:not(:first-child) {
  margin-top: 10px;
}
.user-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 16px;
  color: #1E1E1E;
}
.user-info {
  width: auto;
  display: flex;
  align-items: center;
}
.user-info > *:not(:first-child) {
  margin-left: 10px;
}
.user-info > *:not(:first-child) {
  margin-left: 16px;
}
.user-image {
  width: 46px;
  height: 46px;
  border-radius: 100%;
}
.user-group .display-image {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.user-group input {
  display: none;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.inactive {
  opacity: 0.5;
}
/*# sourceMappingURL=base.css.map */